Repository dnd-mentee-3rd/dnd-mentee-3rd-8-traview, pull requests merged in 2020-08, with the labels that each got.

#15 Add GlobalStyle
  client/package-lock.json
  client/src/components/App.js
Labels: Client

#17 Add Prettier Setting
  .prettierrc.json
  client/package-lock.json
  client/package.json
Labels: Client

#18 Update NavBar & Add MainContainer
  client/.prettierrc.json
  client/public/images/search.png
  client/public/images/upload.png
  client/src/components/App.js
  client/src/components/NavBar.js
  client/src/routes/Area.js
  client/src/routes/Register.js
Labels: Client

#28 Add_folder&update homepage
  client/src/components/App.js
  client/src/components/Home/Banner.js
  client/src/components/Home/BestPictures.js
  client/src/components/Home/PickBox.js
  client/src/routes/Home.js
Labels: 🎨Client

#29 Change folder structure
  client/src/components/App.js
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPictures.js
  client/src/components/MainArea/Loader.js
  client/src/components/MainArea/MainArea.js
  client/src/components/MainArea/MainGrid.css
  client/src/components/MainArea/Picture.js
  client/src/components/NavBar/NavBar.js
  client/src/components/PickBox/PickBox.js
  client/src/routes/Home.js
Labels: 🎨Client

#30 Update Readme.md
  README.md
Labels: ✏문서

#31 Update Readme.md
  README.md
Labels: ✏문서

#33 Issue/#32
  client/src/components/App.js
  client/src/components/MainArea/MainArea.js
  client/src/components/NavBar/NavBar.js
  client/src/routes/Home.js
Labels: 🎨Client, 🔨리팩터링

#34 Server 폴더 업로드
  server/.gitignore
  server/HELP.md
  server/build.gradle
  server/build/classes/java/main/com/traview/TraviewApplication.class
  server/build/resources/main/application.properties
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/settings.gradle
  server/src/main/java/com/traview/TraviewApplication.java
  server/src/main/java/com/traview/web/tempcontroller.java
  server/src/main/resources/application.properties
  server/src/test/java/com/traview/TraviewApplicationTests.java
Labels: 🖥Server

#39 Update NavBar
  client/src/components/NavBar/NavBar.js
Labels: 🎨Client, 🔨리팩터링

#41 Update prettier setting
  client/.prettierrc.json
  client/src/components/App.js
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPictures.js
  client/src/components/MainArea/Loader.js
  client/src/components/MainArea/MainArea.js
  client/src/components/MainArea/MainGrid.css
  client/src/components/MainArea/Picture.js
  client/src/components/NavBar/NavBar.js
  client/src/components/PickBox/PickBox.js
  client/src/index.js
  client/src/routes/Area.js
  client/src/routes/Detail.js
  client/src/routes/Home.js
  client/src/routes/Login.js
  client/src/routes/Register.js
  client/src/routes/Upload.js
Labels: 🎨Client

#42 Add apiConst.js
  client/src/components/MainArea/MainArea.js
  client/src/const/apiConst.js
Labels: 🎨Client, 🔨리팩터링

#44 Feature/update banner bestpick
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPictures.js
  package-lock.json
Labels: 🎨Client

#45 Update MainArea
  client/src/components/MainArea/MainArea.js
Labels: 🎨Client, 🔨리팩터링

#46 Update README.md
  README.md
Labels: ✏문서

#48 Add Server Setting
  .gitignore
  package-lock.json
  package.json
  server/.gitignore
  server/HELP.md
  server/build.gradle
  server/build/classes/java/main/com/traview/TraviewApplication.class
  server/build/resources/main/application.properties
  server/config/key.js
  server/config/prod.js
  server/gradle/wrapper/gradle-wrapper.jar
  server/gradle/wrapper/gradle-wrapper.properties
  server/gradlew
  server/gradlew.bat
  server/index.js
  server/models/User.js
  server/settings.gradle
  server/src/main/java/com/traview/TraviewApplication.java
  server/src/main/java/com/traview/web/tempcontroller.java
  server/src/main/resources/application.properties
  server/src/test/java/com/traview/TraviewApplicationTests.java
  yarn.lock
Labels: ❗우선순위: 상, 🖥Server

#49 Feature/registerpage
  client/public/images/LoginBackground.png
  client/public/images/RegistalBackground.png
  client/public/images/facebook.png
  client/public/images/google.png
  client/public/images/kakao.png
  client/public/images/naver.png
  client/src/components/App.js
  client/src/components/ButtonStyle/BackgroundBox.js
  client/src/components/ButtonStyle/InputBar.js
  client/src/components/ButtonStyle/MaInThema.js
  client/src/components/ButtonStyle/SignUpLabel.js
  client/src/components/ButtonStyle/SocialBox.js
  client/src/components/ButtonStyle/SocialFont.js
  client/src/components/ButtonStyle/SocialImage.js
  client/src/components/ButtonStyle/SubmittBtn.js
  client/src/components/ButtonStyle/TopLabel.js
  client/src/routes/Register.js
Labels: 🎨Client

#52 Update FileName
  client/src/components/ButtonStyle/MainTheme.js
  client/src/routes/Login.js
  client/src/routes/Register.js
Labels: 🎨Client, 🐛버그

#53 Update Login & Register Page
  client/src/components/ButtonStyle/MainTheme.js
  client/src/components/CommonStyle/BackgroundBox.js
  client/src/components/CommonStyle/InputBar.js
  client/src/components/CommonStyle/MainTheme.js
  client/src/components/CommonStyle/SignUpLabel.js
  client/src/components/CommonStyle/SocialBox.js
  client/src/components/CommonStyle/SocialFont.js
  client/src/components/CommonStyle/SocialImage.js
  client/src/components/CommonStyle/SubmittBtn.js
  client/src/components/CommonStyle/TopLabel.js
  client/src/routes/Login.js
  client/src/routes/Register.js
Labels: 🎨Client, 🔨리팩터링

#55 Update NavBar
  client/src/components/NavBar/NavBar.js
Labels: 🎨Client, 🔨리팩터링

#58 Update_registerpage
  client/src/components/Banner/Banner.js
  client/src/components/CommonStyle/SocialCollection.js
  client/src/components/CommonStyle/SocialImage.js
  client/src/routes/Login.js
  client/src/routes/Register.js
Labels: 🎨Client

#62 Add Profile
  client/src/components/Detail/DetailFunction/Profile.js
  client/src/components/Detail/DetailPage.js
Labels: 🎨Client

#63 Feature/detailpage
  client/src/components/App.js
  client/src/components/Detail/DetailFunction/Article.js
  client/src/components/Detail/DetailFunction/MainImage.js
  client/src/components/Detail/DetailPage.js
  client/src/components/Detail/DetailStyle.js
  client/src/components/NavBar/NavBar.js
  client/src/routes/Detail.js
Labels: 🎨Client

#64 Remove Container & Container1
  client/src/components/Detail/DetailPage.js
  client/src/components/Detail/DetailStyle.js
Labels: 🎨Client

#68 Update Detail BackgroundColor
  client/src/components/Detail/DetailPage.js
Labels: 🎨Client

#70 Feature/removescroll detail
  client/src/components/Detail/DetailPage.js
Labels: 🎨Client

#73 Feature/OAuth
  client/.gitignore
  client/package.json
  client/src/StateProvider.js
  client/src/components/App.js
  client/src/components/NavBar/NavBar.js
  client/src/index.js
  client/src/reducer.js
  client/src/routes/Login.js
  client/yarn.lock
Labels: 🎨Client, 🖥Server

#74 Pull image from database
  client/src/components/App.js
  client/src/components/MainArea/MainArea.js
  client/src/reducer.js
Labels: 🖥Server

#78 Logout
  client/src/components/NavBar/NavBar.js
  client/src/reducer.js
Labels: 🖥Server

#79 Add pagination with firestore
  client/src/components/MainArea/MainArea.js
Labels: 🖥Server

#81 Feature/login
  client/src/routes/Login.js
  client/src/routes/Register.js
Labels: 🖥Server

#82 Feature/main area
  client/src/components/MainArea/MainArea.js
  client/src/components/MainArea/Picture.js
Labels: 🎨Client

#84 Add Mood Tab
  client/src/components/MainArea/MainArea.js
Labels: 🎨Client, 🖥Server

#85 Add hasMore
  client/src/components/MainArea/MainArea.js
Labels: 🎨Client

#87 파일 업로드 구현
  client/src/components/App.js
  client/src/components/Banner/BestPictures.js
  client/src/components/MainArea/MainArea.js
  client/src/components/MainArea/Picture.js
  client/src/components/Upload/UploadFunction/Dropzone.js
  client/src/components/Upload/UploadPage.js
  client/src/const/apiConst.js
  client/src/routes/Login.js
  client/src/routes/Register.js
  client/src/routes/Upload.js
Labels: 🖥Server

#88 배너 수정했습니다.
  client/public/images/banner.png
  client/src/components/Banner/Banner.css
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPicture.js
  client/src/components/Banner/BestPictures.js
  client/src/routes/Home.js
Labels: 🎨Client

#90 Banner Opacity
  client/src/components/Banner/Banner.js
  client/src/components/NavBar/NavBar.js
Labels: 🎨Client

#91 Update Title
  client/public/index.html
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPicture.js
  client/src/components/Detail/DetailPage.js
Labels: 🎨Client

#94 MainArea Style 수정
  client/src/components/Area/AreaMain.js
  client/src/components/Banner/Banner.js
  client/src/components/Banner/BestPicture.js
  client/src/components/MainArea/MainArea.js
  client/src/components/MainArea/Picture.js
  client/src/const/apiConst.js
  client/src/routes/Area.js
Labels: 🎨Client

#96 Update DetailPage Style
  client/src/components/Detail/DetailPage.js
  client/src/components/Detail/DetailStyle.js
Labels: 🎨Client

#97 Update Navbar
  client/public/images/upload.png
  client/src/components/NavBar/NavBar.js
Labels: 🎨Client

#101 Feature/main area
  src/components/MainArea/MainArea.js
Labels: 🎨Client, 🖥Server

#102 Update Navbar
  src/components/App.js
  src/components/NavBar/NavBar.js
Labels: 🎨Client

#100 이슈 템플릿 생성
  .github/ISSUE_TEMPLATE/Feature request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ✏문서

#104 쓰지 않는 style 제거
  src/components/App.js
Labels: 🎨Client

#105 Feature/search
  src/components/App.js
  src/components/Area/AreaMain.js
  src/components/Banner/Banner.js
  src/components/NavBar/NavBar.js
  src/reducer.js
  src/routes/Area.js
Labels: 🎨Client

#107 Feature/search
  src/components/NavBar/NavBar.js
  src/routes/Area.js
Labels: 🎨Client

#108 오류 수정
  src/routes/Area.js
Labels: 🎨Client

#110 사진 이름 중복 오류 수정
  src/components/Upload/UploadPage.js
Labels: 🖥Server

#112 오류 수정
  src/components/Upload/UploadPage.js
Labels: 🎨Client

#118 Add facebook login
  src/routes/Login.js
  src/routes/Register.js
Labels: 🖥Server

#123 Update logo
  public/favicon.ico
  public/logo192.png
  public/logo512.png
  public/manifest.json
Labels: 🎨Client

#126 Feature/registeruser
  public/images/Areatest.png
  public/images/Like.png
  public/images/UPLOADTEST.png
  src/routes/Register.js
Labels: 🖥Server

#128 Feature/login
  src/routes/Login.js
Labels: 🖥Server

#129 회원가입 & 로그인 변경
  src/routes/Login.js
  src/routes/Register.js
Labels: 🖥Server

#130 Add FlipMove
  package.json
  src/components/MainArea/MainArea.js
  src/components/MainArea/Picture.js
  src/routes/Area.js
  yarn.lock
Labels: 🎨Client

#133 설명
  public/index.html
  public/manifest.json
Labels: 🎨Client
